img {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.sidebar {
  float: right;
}

.column {
  width: 75px;
  float: left;
}

.Tours {
  margin: 6px;
  border: 2px solid aqua;
  padding: 6px;
  float: left;
  width: 400px;
}

.History {
  float: left;

  position: relative;
  right: -10%;
  margin: 6px;
  border: 2px solid peachpuff;
  padding: 6px;
  width: 350px;
}
